.products-section{
    margin-top: 60px;
    width: calc(100% - 322px);
    padding-left: 50px;
}

.product-list{
    display: flex;
    flex-wrap: wrap;
    margin-left: -24px;
    margin-right: -24px;
}